<div class="ui-g">
    <div class="ui-g-12">
        <p-panel header="FN10007 : หน้าจัดการผู้ผลิต">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-panel>
                        <p-header>
                            <div class="ui-toolbar-group-left">
                                <span class="ui-panel-title"
                                    style="font-size:14px;display:inline-block;margin-top:2px">การจัดการ</span>
                            </div>
                        </p-header>
                        <div class="card">
                            <p-toolbar styleClass="p-mb-4">
                                <ng-template pTemplate="left">
                                    <button pButton pRipple label="เพิ่มใหม่" icon="pi pi-plus"
                                        class="p-button-success p-mr-2" (click)="openNew()"></button>
                                    <button pButton pRipple label="ลบ" icon="pi pi-trash" class="p-button-danger"
                                        (click)="deleteSelected()"
                                        [disabled]="!selectedRows || !selectedRows.length"></button>
                                </ng-template>

                                <!-- <ng-template pTemplate="right">
                                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-danger p-mr-2" (click)="exportPDF()"></button>
                                    <button pButton pRipple label="Export EXCEL" icon="pi pi-upload" class="p-button-success" (click)="exportEXCEL()"></button>
                                </ng-template> -->
                            </p-toolbar>
                            <p-table #dt [columns]="cols" [value]="dataTable" [paginator]="true"
                                [globalFilterFields]="['WAREHOUSE_NAME','W_FULL_ADDRESS','DESC','REMARK','FLAG','createDateFmt','CREATE_BY']"
                                [(selection)]="selectedRows" [rowHover]="true" dataKey="KEY"
                                [rowsPerPageOptions]="[10,20,30]" [rows]="10"
                                currentPageReportTemplate="แสดง {first} ถึง {last} จากทั้งหมด {totalRecords} รายการ"
                                [showCurrentPageReport]="true">
                                <ng-template pTemplate="caption">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        <!-- <h5 class="p-m-0">Manage Products</h5> -->
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="ค้นหา..." />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 3rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns">
                                            {{rowData[col.field]}}
                                        </td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-success p-mr-2"
                                                (click)="edit(rowData)"></button>
                                            <button pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-warning"
                                                (click)="delete(rowData)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        จำนวน {{dataTable ? dataTable.length : 0 }} รายการ.
                                    </div>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-panel>
                </div>
            </div>
        </p-panel>
    </div>
</div>

<p-dialog [(visible)]="fncDialog" [style]="{width: '450px'}" header="รายละเอียด" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="status">สถานะ</label>
            <p-dropdown [options]="statusList" [(ngModel)]="newRow.ACTIVE_FLAG" placeholder="เลือกสถานะ"
                [showClear]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !newRow.ACTIVE_FLAG">ต้องเลือกสถานะด้วย</small>
        </div>
        <div class="p-field">
            <label for="cd">ชื่อผู้เผลิต</label>
            <input type="text" pInputText id="cd" [(ngModel)]="newRow.SUPPLIER_NAME" required autofocus [readonly]="flagPrimaryKey"/>
            <small class="p-invalid" *ngIf="submitted && !newRow.SUPPLIER_NAME">ชื่อชื่อผู้เผลิตต้องใส่</small>
        </div>
        <div class="p-field">
            <label for="tel">สาขา</label>
            <input type="text" pInputText [(ngModel)]="newRow.SUPPLIER_BRANCH" />
        </div>
        <div class="p-field">
            <label for="tel">เลขที่ผู้เสียภาษี</label>
            <input type="text" pInputText [(ngModel)]="newRow.SUPPLIER_TAX_NO" />
        </div>
        <div class="p-field">
            <label for="tel">อีเมลล์</label>
            <input type="text" pInputText [(ngModel)]="newRow.EMAIL" />
        </div>
        <div class="p-field">
            <label for="tel">โทรศัพท์</label>
            <input type="text" pInputText [(ngModel)]="newRow.TEL" />
        </div>
        <div class="p-field">
            <label for="tel">ไลน์</label>
            <input type="text" pInputText [(ngModel)]="newRow.LINE" />
        </div>
        <div class="p-field">
            <label for="tel">เฟสบุ๊ค</label>
            <input type="text" pInputText [(ngModel)]="newRow.FACEBOOK" />
        </div>
        <div class="p-field">
            <label for="tel">URL</label>
            <input type="text" pInputText [(ngModel)]="newRow.URL" />
        </div>
        <div class="p-field">
            <label for="address">ที่อยู่</label>
            <input type="text" pInputText [(ngModel)]="newRow.ADDRESS_NO" />
        </div>
        <div class="p-field">
            <label for="fullAdress">ตำบล อำเภอ จังหวัด รหัสไปรษณีย์</label>
            <p-autoComplete [(ngModel)]="newRow.FULL_ADDRESS" [suggestions]="filteredAddress" 
            (onSelect)="onSelectAutoComplete($event)"
            (completeMethod)="filterAddress($event)" field="FULL_ADDRESS" [minLength]="1"></p-autoComplete>
            <small class="p-invalid" *ngIf="submitted && !newRow.FULL_ADDRESS">ตำบล อำเภอ จังหวัด รหัสไปรษณีย์</small>
        </div>
        <div class="p-field">
            <label for="desc">คำอธิบาย</label>
            <input type="text" pInputText [(ngModel)]="newRow.DESC" />
        </div>
        <div class="p-field">
            <label for="remark">หมายเหตุ</label>
            <input type="text" pInputText [(ngModel)]="newRow.REMARK" />
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="ยกเลิก" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="บันทึก" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>