<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <div class="ui-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-3">
                    <label for="dateFrom">วันที่เริ่มต้น</label>
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="dateFrom" (onSelect)="onSelectDate($event)"></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <label for="dateTo">วันที่สิ้นสุด</label>
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="dateTo" (onSelect)="onSelectDate($event)"></p-calendar>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
        <p-table [value]="dataTable" dataKey="IDX" editMode="row" [resizableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>วันที่</th>
                    <th>รหัสสินค้า</th>
                    <th>ชื่อ</th>
                    <th>หมวดหมู่</th>
                    <th>คลังสินค้า</th>
                    <th>รูปแบบ</th>
                    <th>ลักษณะ</th>
                    <th>จำนวน</th>
                    <th style="width:8rem"></th>
                    <th style="width:5rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.DATE_FMT}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.DATE_FMT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.PRODUCT_SKU}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.PRODUCT_SKU}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.PRODUCT_NAME}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.PRODUCT_NAME}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.WAREHOUSE_NAME}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.WAREHOUSE_NAME}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.PRODUCT_CATEGORY}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.PRODUCT_CATEGORY}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.STOCK_CATGORY_LABEL}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.STOCK_CATGORY_LABEL}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.STOCK_CD_LABEL}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.STOCK_CD_LABEL}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.AMOUNT">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.AMOUNT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                    <td style="text-align:center">
                        <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowEditDelete(product)" class="p-button-rounded p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>